.footerOfBagAddressCartContainer{
    display: flex;
    gap: 12rem;
    justify-content: center;
}
.footerOfBagAddressCartContainer>div:nth-child(1){
    /* border: 1px solid black; */
    display: flex;
    padding-bottom: 15px;
}
.footerOfBagAddressCartContainer>div:nth-child(2){
    font-weight: 600;
}