.topFilterNavbar{
    display: flex;
    /* padding: 10px;
    padding-bottom: 7px; */
    /* justify-content: space-between; */
   
}
.filterNavbar{
    display: flex;
    gap: 1rem;
    /* width: 80%; */
    margin-left: 170px;
   align-items: center;
}
.filterText{
    margin-left: 35px;
    margin-top: 10px;
    font-weight: 600;
}

.filterNavbar>div>select{
   border: none;
   color: rgb(18, 17, 17);
}

.filterSection{
    margin-left: 350px;
    border: 1px solid black !important;
    padding: 10px;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    margin-bottom: 0;
}
