.profileHoverContainer{
    /* background-color: white; */
    margin-top: 40px;
}

/* .profileContainer:hover{
    text-decoration: underline 3px;
    text-underline-offset: 38px;
    text-decoration-color: red;
}  */
.profileHoverSubContainer{
    padding: 15px;
     
}
.profileHoverSubContainer>p:hover{
    font-weight: 600;
    margin: 0;
}
.profileHoverSubContainer>p{
    margin: 0;
}
.profileLogo{
    height: 22px;
    width: 22px;
    position: relative;
    top: 5px;
    cursor: pointer;
    color: black;
}
.profileHoverWelcome{
    font-weight: 600;
    color: #282C3F;
}
.profileHoverButton{
    margin: 10px 0;
    background-color: white;
    font-size: 15px;
    padding: 10px;
    font-weight: 600;
    color: rgb(228, 13, 49);
    border: 1px solid rgb(208, 203, 203) ;
}
.profileHoverButton:hover{
    border: 1px solid rgb(220, 15, 15)
}
.profileHoverNewTag{
    background-color: red;
    font-size: 10px;
    padding: 0 4px;
    margin: 0;
    border: none;
    font-weight: 600;
    color: white;
}
.profileHoverHrTag{
    border: none;
    background-color:rgb(238, 230, 230) ;
    height: 1px;
}